<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IIIF Content State Base64 Url Encoding</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

<h1>base64url encoding for IIIF Content State</h1>

<p>This demo shows the <a href="https://iiif.io/api/content-state/0.9/#231-content-state-encoding">proposed mechanism</a>
    for encoding a content state when sent as a request parameter. But can it be simpler? Shorter? Safer? What have we missed? Are there better ways?
    <br/>Try out some strings below to experiment.</p>

<p><a href="https://tom-crane.medium.com/what-is-iiif-content-state-dd15a543939f">What is IIIF Content State?</a>
    |
    <a href="https://iiif.io/api/content-state/">Content State Specification</a>
    |
    <a href="https://github.com/tomcrane/base64url">Source code for this experiment on GitHub</a></p>


<form method="post" id="theForm">

    <input type="radio" name="encoding" value="simple" id="rbSimple" {{ radios['simple'] }} /><label for="rbSimple">Simple JavaScript encoding</label> <br/>
    <input type="radio" name="encoding" value="unicode"  id="rbUnicode" {{ radios['unicode'] }} /><label for="rbUnicode">Unicode JavaScript encoding</label><br/>
    <input type="radio" name="encoding" value="encodeuri" id="rbEncodeURI" {{ radios['encodeuri'] }} /><label for="rbEncodeURI">encodeURIComponent JavaScript encoding</label> (Content State 0.9)<br/>

    <input type="checkbox" name="no-padding" id="chkNoPadding" value="no-padding" {{ chk_no_padding }} /><label for="chkNoPadding">No padding</label> (Content State 0.9)
    <input type='hidden' value='submitted' name='submitCheck'>
    <div class="wrapper">
        <div>
            <p>Client plaintext</p>
            <textarea name="client-plain" id="clientPlain">{{ client_plain }}</textarea>
        </div>
        <div class="command">
            <button id="clientEncode">Encode &#8658;</button>
            <button id="clientDecode">Decode &#8656;</button>
        </div>
        <div>
            <p>Client encoded</p>
            <textarea name="client-encoded" id="clientEncoded">{{ client_encoded }}</textarea>
        </div>

        <div class="middle">
            <p class="error" id="encodeError">{{ encode_error }}</p>
        </div>
        <div class="command">
            <button id="clientServerEncode">Encode &#8659; &#8664;</button>
            <button id="serverClientDecode">Decode &#8662; &#8657;</button>
        </div>
        <div class="middle">
            <p class="error" id="decodeError">{{ decode_error }}</p>
        </div>

        <div>
            <p>Server plaintext</p>
            <textarea name="server-plain" id="serverPlain">{{ server_plain }}</textarea>
        </div>
        <div class="command">
            <button id="serverEncode">Encode &#8658;</button>
            <button id="serverDecode">Decode &#8656;</button>
        </div>
        <div>
            <p>Server encoded</p>
            <textarea name="server-encoded" id="serverEncoded">{{ server_encoded }}</textarea>
        </div>
    </div>
    <input type="hidden" name="operation" id="op" />
    <input type="hidden" name="postOperation" id="postOp" value="{{ operation }}" />
</form>


<script src="{{ url_for('static', filename='base64url.js') }}"></script>
<script>

    function $(id){
        // to make this a bit easier to read
        return document.getElementById(id);
    }

    function getIIIFContent() {
        let rg = new RegExp("iiif-content=([^\\&]*)", "g");
        let m = rg.exec(window.location.search);
        if (m && m[1]) {
            return m[1];
        }
        return null;
    }

    function assignEncodingFunction() {
        switch ($('theForm').elements.encoding.value){
            case "simple":
                encode = encodeSimple;
                decode = decodeSimple;
                break;
            case "unicode":
                encode = encodeBinary;
                decode = decodeBinary;
                break;
            case "encodeuri":
                encode = encodeUriComponentEncode;
                decode = decodeUriComponentEncode;
                break;
            default:
                encode = encodeSimple;
                decode = decodeSimple;
                $('rbSimple').checked = "checked"; // nothing was checked
                break;
        }
    }

    assignEncodingFunction();
    let encodingButtons = document.querySelectorAll('input[type=radio][name="encoding"]');
    encodingButtons.forEach(rb => rb.addEventListener('change', assignEncodingFunction));

    let iiifContent = getIIIFContent();
    if(iiifContent){
        try {
            $("clientPlain").value = decode(iiifContent);
        } catch (err) {
            $("decodeError").innerText = "[CLIENT] " + err;
        }
    }

    $("clientEncode").addEventListener("click", clientEncode);
    $("clientDecode").addEventListener("click", clientDecode);
    $("clientServerEncode").addEventListener("click", clientServerEncode);
    $("serverClientDecode").addEventListener("click", serverClientDecode);
    $("serverEncode").addEventListener("click", serverEncode);
    $("serverDecode").addEventListener("click", serverDecode);

    function clientEncode(e){
        // entirely on the client
        e.preventDefault();
        try {
            $("clientEncoded").value = encode($("clientPlain").value, $('chkNoPadding').checked);
        } catch (err) {
            $("encodeError").innerText = "[CLIENT] " + err;
        }
    }

    function clientDecode(e){
        // entirely on the client
        e.preventDefault();
        try {
            $("clientPlain").value = decode($("clientEncoded").value, $('chkNoPadding').checked);
        } catch (err) {
            $("decodeError").innerText = "[CLIENT] " + err;
        }
    }

    function clientServerEncode(e){
        // send to server but then decode the result once back on the client
        e.preventDefault();
        $("op").value = "clientServerEncode";
        $("theForm").submit();
        // will attempt to decode on the client AFTER result from server
    }

    function serverClientDecode(e){
        // send to server but then re-encode the result once back on the client, for comparison
        e.preventDefault();
        $("op").value = "serverClientDecode";
        $("theForm").submit();
        // will attempt to encode on the client AFTER result from server
    }

    function serverEncode(e){
        // entirely on the server
        e.preventDefault();
        $("op").value = "serverEncode";
        $("theForm").submit();
    }

    function serverDecode(e){
        // entirely on the server
        e.preventDefault();
        $("op").value = "serverDecode";
        $("theForm").submit();
    }

    let postOp = $("postOp").value;
    if(postOp == "clientServerEncode"){
        try {
            $("clientEncoded").value = encode($("clientPlain").value, $('chkNoPadding').checked);
        } catch (err) {
            // add to server error
            $("encodeError").innerHtml = $("encodeError").innerHtml + "<br/>[CLIENT] " + err;
        }
    }
    if(postOp == "serverClientDecode"){
        try {
            $("clientPlain").value = decode($("serverEncoded").value, $('chkNoPadding').checked);
        } catch (err) {
            // add to server error
            $("decodeError").innerHtml = $("decodeError").innerHtml + "<br/>[CLIENT] " + err;
        }
    }


</script>

</body>
</html>